body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.textarea {
	width:100%;
	background-color: white;
	color: #000;
	font-family: Consolas, 'Liberation Mono', Courier, monospace;
	border-radius:3px;
}
